<div class="container d-flex justify-content-center h-100">
    <form class="logIn-form px-4 mt-4" [formGroup]="logInForm">
        <h1 class="h1 text-center">IPS CJF</h1>
        <h2 class="h2 text-center">Log In</h2>
        <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        <button (click)="onSubmit()" [disabled]="logInForm.invalid" class="w-100" mat-raised-button color="primary">Log In</button>
    </form>
</div>